body {
    font-size: 20px;
    font-family:lucida console;
    background-color: #FFF1F0;
    color:rgb(70, 68, 70);
    padding: 20px;
}

.Titulos-color h1,
.Titulos-color h3 {
    color:#8d626c;
}
 

p {
    font-weight: bold;
}

#img-universidad {
    width: 250px;
    border-radius: 10px;
}

#imagen-UTN {
    width: 250px;
    border-radius: 15px;
}

nav a {
   background: linear-gradient(to top,#eac2cb 50%, transparent 50%);
   margin-right: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    color: #555;
}

img {
    width: 350px;
    border-radius: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border:1px solid #555;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f9eaef;
    color: #8d626c;
}
